# Data Splitting Script

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data_path = '../data/SQuAD_Cleaned_DF.h5'

In [3]:
df = pd.read_hdf(data_path, 'df')

In [5]:
X = df[['question','context']] # X variables are the question and context
df['answer_start'] + df['text'].apply(lambda x: len(x)) 
y = df['text'] # target variable is the answer which is 'text'

In [6]:
# Generate train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [7]:
# Generate train and validation data
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2, random_state = 42)

In [8]:
# Create dataframes to store train, validation, and test data
df_train = pd.concat([X_train, y_train], axis = 1)
df_val = pd.concat([X_val, y_val], axis = 1)
df_test = pd.concat([X_test, y_test], axis = 1)

In [9]:
# Check to ensure the data concatenated together properly
df_train.head()

,question,context,text
14981,How many students are in Boston Public schools?,"The Boston Public Schools enrolls 57,000 stude...","57,000"
76522,What was the name of the deal in which Arizona...,"Arizona, south of the Gila River was legally b...",Gadsden Purchase
60357,What can an exhibition game raise money for?,An exhibition game may also be used to settle ...,charities
86267,Who wrote 'City Boy: The Adventures of Herbie ...,The Bronx has been featured significantly in f...,Herman Wouk
24617,The New Delhi Municipal Government oversees wh...,New Delhi is governed through a municipal gove...,New Delhi

In [10]:
# Save train, validation, and test data
df_train.to_hdf('../data/SQuAD_train_DF.h5', key = 'df_train')
df_val.to_hdf('../data/SQuAD_val_DF.h5', key = 'df_val')
df_test.to_hdf('../data/SQuAD_test_DF.h5', key = 'df_test')